<%- include("partials/header", { bot, user, path, title: "Login" }) %>
<style>
  a { color: #C0C0C0 }
  body {  background-color: 	#000000 ;color: #FF0000 background-image="https://cdn.discordapp.com/attachments/766742630461079572/769606820548444160/large_yeetbot_circle.png") }
  
</style>
<a href="/dashboard">Go to Dashboard</a><br>

<a href="https://discord.gg/M2rtKdB">Join the support server!</a>